%h1
  ノート一覧表示

%table.table.text-nowrap
  %thead.thead-light
    %tr
      %th
        タイトル　
      %th
        ユーザー名
      %th
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.title
        %td
          = note.user.nickname
        %td
          = link_to '追加ボタン', new_my_list_path(note_id: note.id), remote: true

#new_my_list_form
