%h1
  ノート一覧表示

%table.table.text-nowrap
  %thead.thead-light
    %tr
      %th
        タイトル　
        ユーザー名
      %th
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.title
          = note.user.nickname



