%h1
  ノート一覧表示

%table.table.text-nowrap
  %thead.thead-light
    %tr
      %th
        ユーザー名　
        タイトル
      %th
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.title
          = name.nickname



