.single-container.manual
  %h1
    = t 'title'
  %h2
    入門編
  %h3
    1. ノートを取る
  .description
    %h4 StudyBookClientをダウンロード・インストール
    = link_to t('.downloads'), client_downloads_path, class: "downloads"
    %h4 ノートファイルを作成する
    .box
      %p インストールに伴い、ノートを管理するディレクトリが作成されます。
      %p ディレクトリの中には、更にディレクトリを作成し、ノートを分類することが出来ます。
      %p .mdの拡張子でノートを作成します。マークダウン形式でノートを取ることが可能です。
      %p
        ノートにはヘッダーをつける必要があります。
        %b 必須のヘッダーはタイトル
        です。

    サンプル
    #markdown_raw.note__body-raw
      = "```md\ntitle: タイトル\ncategory: カテゴリー名\ntags: タグ1, タグ2\n\n# 本文\n- titleは必須です。(50文字以内)\n- categoryは存在するカテゴリ名でないと未分類になります。\n- tagsは自由に指定可能です。(20文字以内）\n\n# ヘッダーと本文は空白行を挟んでください。"
    #markdown_render
    ノートファイルを作成すると、StydyBookClientで、表示されます。

  %h3
    2. 同期する
  .description
    %h4 ログインする
    .box
      %p 作成したアカウントでログインします。
    %h4 同期する
    .box
      %p アプリ起動時と、5分毎に同期されます。
      %p 同期が成功すると、Web上で確認が可能になります。

  %h3
    3. マイリストを使う
  .description
    %h4 作成する
    .box
      %p 自分のノート、他人のノートでマイリストを作成することが出来ます。
      %p
        作成したマイリストは、
        %b 同期時にダウンロード
        されます。
    %h4 サブスクライブ
    .box
      %p マイリスト一覧で、他人のマイリストをサブスクライブできます。
      %p
        サブスクライブしたマイリストも,
        %b 同期時にダウンロード
        されます。
