@import '~bootstrap/scss/bootstrap';
@import './hljs.scss';
@import './animation.scss';
@import './devise.scss';
@import './notes.scss';
@import './note.scss';
@import './my-lists.scss';
@import './list-header.scss';
@import './my-list.scss';
@import './flash.scss';
@import './new-my-list.scss';
@import './navbar.scss';
@import './left.scss';
@import './directory-tree.scss';
@import './user.scss';
@import './note-my-list.scss';
@import './search.scss';
@import './subscribe.scss';
@import './tag-search.scss';
@import './user-edit.scss';
@import './client-downloads.sass';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import './footer.sass';
@import './manual.sass';
@import './policy.sass';
@import './top.sass';

body {
  background-color: #f5ebdf;
  display: flex;
  flex-flow: column;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
}

main {
  flex: 1;
}

small {
  font-size: 1em;
  font-weight: normal;
}

.single-container {
  @extend .container;

  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  margin-top: 30px;
  padding: 30px;
}

.main {
  padding-top: 40px;
}

.blackout {
  background-color: #000;
  height: 100vw;
  left: 0;
  opacity: 30%;
  position: fixed;
  top: 0;
  width: 100vw;
}

.row {
  min-width: 720px;
}

.clear {
  clear: both;
}
