.footer
  display: flex
  background-color: #3c3c3c
  color: #fff
  padding: 5px 50px
  text-align: right
  align-content: center
  &__policy
    margin-right: 20px
  &__manual
    margin-right: 20px
  a
    color: rgba(255,255,255, 0.7)
    &:hover
      color: #fff
      text-decoration-line: none
