.list-header {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: center;
  position: relative;

  &__content {
    align-items: center;
    background-color: #e5e5e5;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 50%;
    $element: #{&};

    &--active {
      @extend #{$element};

      background-color: #fff;
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  &__link-text {
    color: #888;
    display: inline-block;
    left: 50%; /* 親要素を起点に左から50% */
    overflow: hidden;
    position: absolute;
    top: 50%; /* 親要素を起点に上から50% */
    transform: translateY(-50%) translateX(-50%); /* 要素の大きさの半分ずつを戻す */
    -webkit-transform: translateY(-50%) translateX(-50%);
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
      color: #000;
    }

    &:active {
      color: #000;
      font-weight: bold;
    }
    $element: #{&};

    &--active {
      @extend #{$element};

      color: #000;
    }
  }
}
