.my-list {
  background-color: #a3dcca;
  padding: 15px 25px;
  border-radius: 10px;
  &__header {
    font-size: 1.3em;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  &__header-title {
    font-weight: bold;
    font-size: 1.2em;
    word-wrap: break-word;
  }
  &__header-description {
    font-size: 0.9em;
    color: #464646;
    word-wrap: break-word;
    width: auto;
  }
  &__header-sub {
    color: #6a6a6a;
    font-size: 0.7em;
    padding: 3px 0;
  }
  &__header-user {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30%;
    vertical-align: middle;
  }
  &__header-category {
    display: inline-block;
    background-color: #caffe6;
    padding: 2px 8px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30%;
    vertical-align: middle;
  }
  &__notes {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
  }
  &__note-main {
    padding: 0 15px;
  }
  &__note-title {
    font-size: 1.2em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__note-user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__note-sub {
    padding: 0 15px;
    color: #6a6a6a;
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
