.navbar {
  background-color: #056676;
  height: 57.64px;
  min-width: 720px;

  &__icon-image {
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #ccc;
    border-radius: 50%;
    height: 39px;
    margin-right: 10px;
    width: 39px;
  }

  &__icon-image--not-upload {
    @extend .user__prev-image;

    background-image: url('../images/upload_image.png');
  }

  &__user-pull-list {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    display: none;
    padding: 15px 0;
    position: absolute;
    right: 10px;
    top: 57px;
    user-select: none;
  }

  &__user-pull-item {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 10px 40px;
    text-align: center;
    user-select: none;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.nav-link {
  font-weight: 700;
}
