.new-my-list {
  background-color: #636363;
  border-radius: 20px;
  left: 50%;
  padding: 15px 20px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 4;

  &__existing {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
  }

  &__my-list-row {
    margin: 10px 0;
    white-space: nowrap;
  }

  &__check-box {
    margin-right: 10px;
    transform: scale(1.5);
  }

  &__title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 90%;
  }

  &__regist {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px 20px;
    white-space: nowrap;
    width: 100%;
  }

  &__collection {
    @extend .form-control;

    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 25%;
  }

  &__text-field {
    @extend .form-control;

    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 50%;
  }

  &__submit-button {
    @extend .btn, .btn-outline-dark;

    vertical-align: middle;
    width: 20%;
  }
}
