.note {
  @extend .container;

  margin: 50px 0;
  padding-left: 50px;

  &__main {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 30px;
  }

  &__info {
    overflow: hidden;
  }

  &__user-image {
    float: left;
    height: 100%;
    padding: 10px 10px 8px 0;
  }

  &__user-image-icon {
    background-color: #ccc;
    background-image: url('../images/no_image_icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #ccc;
    border-radius: 50%;
    flex: 0 1 auto;
    height: 60px;
    user-select: none;
    width: 60px;
  }

  &__info-row-1 {
    margin-top: 10px;
    overflow: hidden;
    padding-left: 4px;
    white-space: nowrap;
  }

  &__user {
    display: inline-block;
    font-size: 1.08em;
  }

  &__updated_date {
    color: #6a6a6a;
    display: inline-block;
    font-size: 0.9em;
    height: 1.3em;
    margin-left: 20px;
  }

  &__info-row-2 {
    align-items: center;
    display: flex;
    height: 36px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
  }

  &__category {
    background-color: #caffe6;
    border-radius: 10px;
    padding: 4px 0;
  }

  &__category-name {
    color: #555;
    display: inline;
    font-size: 1.1em;
    font-weight: 600;
    padding: 4px 12px;
    vertical-align: middle;
  }

  &__add-my-list {
    background-color: #d7fffd;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px;

    img {
      display: inline;
      height: 23px;
      padding-bottom: 2px;
      vertical-align: middle;
    }
  }

  &__add-my-list-btn {
    color: #555;
    display: inline;
    font-size: 1.1em;
    font-weight: 600;
    padding: 4px 12px 4px 0;
  }

  &__info-row-3 {
    font-size: 0.7em;
    font-size: 1.05em;
    font-weight: 600;
    margin-top: 10px;
  }

  &__tags {
    color: #6a6a6a;
  }

  &__tag {
    background-color: #ddd;
    border-radius: 13px;
    display: inline-block;
    margin-top: 5px;
    padding: 1px 10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
  }

  &__body-raw {
    display: none;
  }

  &__body {
    margin-top: 20px;

    h1,
    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
  }

  &__related-notes-flex {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  &__related-notes {
    background-color: #a3d2ca;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    max-width: 100%;
    padding: 10px 5px;
  }

  &__related-note {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    flex-grow: 1;
    margin: 5px 10px;
    max-width: 500px;
    min-width: 200px;
    padding: 10px;
    width: 30%;

    &:hover {
      background-color: #ddd;
      color: #000;
      font-weight: 600;
      text-decoration: none;
    }
  }

  &__related-note-title {
    font-size: 1.3em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__related-note-category {
    background-color: #caffe6;
    border-radius: 10px;
    color: #555;
    display: inline-block;
    font-size: 0.7em;
    padding: 4px 5px;
  }

  &__related-note-user {
    color: #555;
    display: inline-block;
    font-size: 0.7em;
  }

  &__related-note-tags {
    color: #6a6a6a;
    font-size: 0.7em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__related-note-tag {
    background-color: #ddd;
    border-radius: 13px;
    display: inline-block;
    margin-top: 5px;
    padding: 1px 10px;
  }

  &__related-note-body {
    color: #555;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__related-notes-title {
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    margin: 2px 10px;
    padding: 5px 20px;
  }
}
