.subscribe {
  &__button {
    background-size: 31px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 31px;
    width: 31px;
  }

  &__create {
    background-color: #9f9;
    background-image: url('../images/subscribe.png');
  }

  &__destroy {
    background-color: #f96;
    background-image: url('../images/unsubscribe.png');
  }
}
