# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  rubocop:
    runs-on: ubuntu-latest
    container:
      image: ruby:2.6.6
    steps:
      - uses: actions/checkout@v2
      - name: setup bundle
        run: bundle install
      - name: run rubocop
        run: bundle exec rubocop
